.main-wrap {
    margin-top: 521px;
}

.aboutPage-title h1 {
    max-width: 822px;
}

.aboutPage-title p {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    max-width: 501px;
}

.technology-wrap {
    position: relative;
    padding-top: 230px;
}

.technology-wrap .company-title {
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.technology-wrap .company-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    position: absolute;
    width: 100%;
    max-width: 990px;
}

.technology-blk .company-info p {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin-left: 0;
    /*margin-left: 40px;*/
    /*min-width: 475px;*/
}

.technology-img {
    margin-top: 527px;
    margin-left: 40px;
}

/*materials*/
.materials-wrap {
    margin: 272px 0 300px 0;
}

.materials-slides {
    display: flex;
}
.img-container {
    width: 100%;
}

img.img-markup {
    display: none;
}

.img-right {
    width: 145%;
    height: inherit;
}

.image-wrapper {
    position: sticky;
    top: 0;
}

.img-right {
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s;
}

.img-right.apear2 {
    opacity: 1;
}

.materials-title {
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 190px;
}

.materials-wrap .title {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 30px;
    max-width: 475px;
}

.materials-wrap .title:before {
    float: left;
    display: block;
    content: counter(item) ". ";
    /*counter-increment: item;*/
    font-size: 20px;
    margin-right: 4px;
}

.materials-wrap p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 475px;
}

.materials-blk {
    display: flex;
    align-items: flex-start;
    /*margin-bottom: 100px;*/
    opacity: 0.5;
    padding: 50px 0;
    counter-increment: item;
}
.materials-blk.apear {
    opacity: 1;
}

.materials-blk img {
    width: 293px;
    margin-right: 64px;
}

/*decorWall*/
.decorWall-block {
    display: flex;
    justify-content: space-between;
}

.decorWall-block div{
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
    width: 515px;
    margin-bottom: 56px;
}

.decorWall-block p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 475px;
    margin-bottom: 40px;
    margin-top: 256px;
}

.decorWall-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.decorWall-item {
    position: relative;
}

.puls-icon {
    position: absolute;
    z-index: 1;
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.puls-1 {
    top: 95px;
    left: 276px;
    animation-name: pulse;
    transform-origin: center center;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    cursor: pointer;
}

.puls-1:hover + .chipboard{
    display: flex;
}

.puls-2:hover + .ceramic{
    display: flex;
}

.puls-3:hover + .ceramic-2{
    display: flex;
}

.puls-4:hover + .mdf{
    display: flex;
}

.puls-2 {
    bottom: 285px;
    right: 111px;
    animation-name: pulse;
    transform-origin: center center;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    cursor: pointer;
}

.puls-3 {
    bottom: 15px;
    left: 276px;
    animation-name: pulse;
    transform-origin: center center;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    cursor: pointer;
}

.puls-4 {
    bottom: 19px;
    left: 109px;
    animation-name: pulse;
    transform-origin: center center;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    cursor: pointer;
}

.materiale {
    width: 180px;
    height: 55px;
    border-radius: 60px;
    background: #FFF;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
}

.chipboard {
    top: 35px;
    left: 238px;
    display: none;
    transition-duration: .3s;
}

.ceramic {
    top: 216px;
    left: 393px;
    display: none;
}

.ceramic-2 {
    top: 481px;
    left: 229px;
    display: none;
}

.mdf {
    bottom: 88px;
    left: 66px;
    display: none;
}

/*comparison-wrap*/
._container.comparison-wrap {
    max-width: 1920px;
}

.comparison-container {
    margin-bottom: 100px;
}

.comparison-wrap {
    display: flex;
    justify-content: space-between;
}

.comparison-wrap div:last-child {
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    width: 50%;
    padding: 100px 0 320px 190px;
}

.comparison-title-1 {
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    width: 50%;
    padding: 100px 88px 320px 120px;
}

.comparison-wrap p {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    width: 475px;
}

.comparison-block {
    display: flex;
    align-items: end;
    margin-top: 100px;
}

.comparison-title {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
    max-width: 700px;
    position: absolute;
    z-index: 1;
}

.comparison-part {
    display: flex;
    margin-left: 537px;
    position: relative;
}

/*.comparison-part img {*/
/*    width: 100%;*/
/*}*/

.comparison-blk div {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 40px;
}

.comparison-blk ul li {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    max-width: 385px;
}

.comparison-blk img {
    margin-right: 20px;
}

.comparison-blk:first-child {
    margin-bottom: 100px;
}

.comparison-wraps {
    margin-left: 40px;
}

/*frameHouse*/
.frameHouse-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 200px;
}

.frameHouse-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 40px;
}

.frameHouse-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    line-height: 150%;
}

.frameHouse-item span {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.frameHouse-item img{
    margin-right: 20px;
}

.frameHouse-block {
    margin-left: 100px;
}

.frameHouse-block div {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
    margin: -30px 0 100px 40px;
}

.frameHouse-block p {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    max-width: 990px;
}

/**/
swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-initialized {
    overflow: hidden;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*servis*/
section.servis-block._containerTwo.services._container {
    overflow: hidden;
}

.services-title {
    max-width: 100%;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 67.6px */
    text-transform: uppercase;
    margin-bottom: 129px;
}

.servis_item-2 {
    flex-direction: row-reverse;
}

.services-wrap {
    display: flex;
    align-items: end;
    flex-direction: row-reverse;
    justify-content: center;
}
.block-title {
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 67.6px */
    text-transform: uppercase;
}

.block-part {
    margin-top: 100px;
}

.block-part h5 {
    margin: 30px 0;
}
.block-part img {
    margin-top: 100px;
}

.block-part .btn-foot {
    margin-top: 100px;
}

.mod-wrap {
    width: 50%;
}

.mod-wrap .skin_buttom{
    right: -110px;
}
.mod-blk {
    margin-top: 100px;
}


/* ----edit----- */
.decorWall-img{
    max-width: 100%;
}