.header-title-blk {
    width: 100%;
    margin-bottom: 100px;
    margin-top: 470px;
}

.title-block h1 {
    display: inline-block;
    font-size: 52px;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
    margin-top: 15px;
    max-width: 691px;
}

.main-wrap{
    margin-top: 455px;
}

/*socProject-wrap*/
.socProject-wrap {
    display: flex;
    text-align: end;
    margin: 200px 0 200px 0;
}

.socProject-text {
    display: flex;
}

/*map*/
.map-wrap {
    display: flex;
    align-items: center;
}

/*sub-header*/
.sub-header {
    display: flex;
}

.sub-header p {
    margin: 150px 0 0 65px;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

}

.sub-header div {
    display: inline-block;
    max-width: 612px;
    font-size: 52px;
    font-weight: 600;
    line-height: 130%;
}

.company-title {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
    max-width: 718px;
}

.company-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 573px;
}

.company-block {
    display: flex;
}

.company-main-blk {
   display: flex;
}

.company-main-blk .company-info {
    margin-right: 221px;
    width: 336px;
}
