
/* ===================1740-1140================= */

@media screen and (max-width:1740px){
    ._container {
        max-width: 1140px;
    }
    ._containerTwo {
        max-width: 980px;
    }
    .mod-block{
        display: block;
    }
    .mod-contant{
        display: flex;
        max-width: 100%;
        gap: 40px;
    }
    .title-block_main h1 {
        font-size: 94px;
        margin-top: 20px;
    }
    .sub-header h4 {
        font-size: 35px;
    }
    .skin_buttom>p {
        font-size: 16px;
    }
    .mod-title{
        max-width: 100%;
        margin-bottom: 80px;
    }
    .header_nav a{
        font-size: 14px;
    }
    .title-block_main>p {
        font-size: 20px;
    }
    .svg-btn {
        width: 161px;
        height: 159px;
        top: -67px;
        left: 113px;
    }
    .header_btn {
        width: 270px;
    }
    .sub-header {
        margin-top: 251px;
        margin-bottom: 190px;
    }
    .btn_grid {
        left: 0;
        margin-top: 0;
    }
    .mod-block h3 {
        max-width: 463px;
    }
    .btn-mod {
        right: 0;
        width: 215px;
        height: 151px;
        justify-content: flex-start;
    }
    .mod-svg{
        right: 0;
    }
    .svg-grid {
        left: 58px;
    }
    .mod-contant>div:nth-child(2) {
        margin-top: 80px;
    }
    .benefits-block h2 {
        margin-bottom: 80px;
    }
    .parallax-text {
        font-size: 118px;
    }
    .benefits-block h5 {
        font-size: 35px;
    }
    .benefits-block span {
        top: 10px;
    }
    .benefits-block{
        margin-top: 267px;;
    }
    .company-main{
        margin-top: 80px;
    }
    .company-block h3 {
        font-size: 60px;
    }
    .company-block>div>p {
        font-size: 18px;
    }
    .company-info h5 {
        font-size: 50px;
    }
    .architects-block h3 {
        font-size: 60px;
        margin-bottom: 80px;
    }
    .architects-info>div>p:nth-child(1) {
        font-size: 18px;
    }
    .arch-btn a {
        font-size: 16px;
    }
    .grid-architects:last-child {
        margin-top: 195px;
    }
    .grid-architects h2 {
        bottom: -123px;
        left: 30px;
        font-size: 86px;
    }
    .form-btn {
        left: 45%;
    }
    .architects-block {
        margin-bottom: 270px;
    }
    .connect-block h2 {
        margin-bottom: 80px;
    }
    .grid-connect {
        grid-template-columns: 1fr 1fr;
    }
    .connect-block p {
        font-size: 18px;
    }
}



/* ============1200-720=================== */

@media screen and (max-width:1200px){
    ._container {
        max-width: 720px;
    }
    ._containerTwo {
        margin: 0 auto;
    }
    .title-block_main>p {
        font-size: 18px;
    }
    .title-block_main h1 {
        font-size: 65px;
        margin-top: 12px;
    }
    .skin_buttom>p {
        font-size: 14px;
    }
    .header_btn {
        width: 240px;
        height: 135px;
        margin-top: 0px;
    }
    .svg-btn {
        width: 129px;
        height: 135px;
        top: -60px;
    }
    .sub-header h4 {
        font-size: 25px;
    }

    .sub-header {
        margin-top: 268px;
        margin-bottom: 145px;
    }
    .mod-contant>div:nth-child(2) {
        margin-top: 59px;
    }
    .mod-block h3 {
        font-size: 40px;
    }
    .mod-title {
        margin-bottom: 60px;
    }
    .btn-none {
        display: none;
    }
    .mod-block h5 {
        font-size: 20px;
    }
    .benefits-block{
        margin-top: 205px;;
    }
    .benefits-block h5 {
        font-size: 25px;
    }
    .benefits-block span {
        top: 6px;
    }
    .benefits-block h2 {
        margin-bottom: 60px;
    }
    .parallax-text {
        font-size: 88px;
    }
    .company-block h3 {
        font-size: 40px;
    }
    .company-block>div>p {
        font-size: 16px;
    }
    .company-info h5 {
        font-size: 38px;
    }
    .architects-block h3 {
        font-size: 40px;
        margin-bottom: 60px;
    }
    .arch-btn a {
        font-size: 14px;
    }
    .grid-architects:last-child {
        margin-top: 88px;
    }
    .grid-architects img{
        max-width: 345px;
    }

    .grid-architects h2{
        bottom: -90px;
        left: 22px;
        font-size:60px;
    }
    .architects-info>div>p:nth-child(2) {
        margin: 10px 0 10px 0;
    }
    .architects-block {
        margin-top: 145px;
    }
    .arch-btn {
        margin-top: 50px;
    }
    .architects-block {
        margin-bottom: 205px;
    }
    .connect-block h2 {
        margin-bottom: 60px;
    }
    .form-btn {
        left: 34%;
    }
}
/* ============500-340=================== */


@media screen and (max-width:500px){
    ._container {
        max-width: 340px;
    }
    .title-block_main>p {
        font-size: 16px;
    }
    .title-block_main h1 {
        font-size: 50px;
        margin-top: 10px;
    }

}